[submodule "designs/src/cnn/dev/repo"]
	path = designs/src/cnn/dev/repo
	url = https://github.com/NNgen/nngen
[submodule "designs/src/bp_processor/dev/repo"]
	path = designs/src/bp_processor/dev/repo
	url = https://github.com/black-parrot/black-parrot.git
[submodule "designs/src/NVDLA/dev/repo"]
	path = designs/src/NVDLA/dev/repo
	url = https://github.com/nvdla/hw.git
	branch = nv_small
[submodule "tools/bsg_fakeram"]
	path = tools/bsg_fakeram
	url = https://github.com/VLSIDA/bsg_fakeram.git
[submodule "bazel-orfs"]
	path = bazel-orfs
	url = https://github.com/The-OpenROAD-Project/bazel-orfs.git
